@charset "utf-8";

/* 
--------------------------------------------------*/
.v_pc { display:block; }
.v_pt { display:block; }
.v_sp { display:none; }
.v_ts { display:none; }
.v_ts_under { display:none; }
.v_ts_photo { display:none; }

#equipment{
    padding: 60px 0;
    margin: 0 auto;
	width: 100%;
	max-width: 1100px;
}

#sec1{
	margin-bottom: 40px;
	background: #000;
}
#sec1 .leftCont{
	width: 50%;
	float: left;
	
	max-height: 700px;
	overflow: hidden;
	padding-top: 5%;
}
#sec1 .leftCont .titleS1{
	margin-bottom: 4.9%;
}
#sec1 .leftCont .spec1{
	color: #fff;
	line-height: 200%;
	padding-left: 6%;
	padding-right: 3%;
	margin-bottom: 5%;
	letter-spacing: -0.5px;
}
#sec1 .leftCont .img1{
	line-height: 0px;
}

#sec1 .rightCont{
	width: 50%;
	float: right;
	line-height: 0px;
}


#sec2{
	margin-bottom: 30px;
}
#sec2 .spec{
	margin-bottom: 3%;
}
#sec2 li{
	width: 32.4%;
	float: left;
	margin-right: 1.4%;
}
#sec2 li.turn{
	margin-right: 0px;
}




#sec3{
	margin-bottom: 30px;
}
/* #sec3 li{
	width: 32.4%;
	float: left;
	margin-right: 1.4%;
}
#sec3 li:last-child{
	margin-right: 0px;
} */

/* STORAGE equi05 */
.group__item{
	display: flex;
	flex-wrap: wrap;
}
.group__item li{
	width: 32.4%;
	margin-right: 1.4%;
	margin-bottom: 30px;
}
.group__item li:nth-of-type(3n){
	margin-right: 0;
}
.equi05 #sec5 li .img img{
	width: 100%;
}
/* STORAGE equi05 */



#sec4{
	/* margin-bottom: 30px; */
}
#sec4 li{
	width: 49.1%;
	float: left;
	margin-right: 1.8%;
}
#sec4 li:last-child{
	margin-right: 0px;
}
.sec4__capImg{
	margin-bottom: min(4vw, 30px);
	width: 49.1%;
}

#sec5{
	margin-bottom: 30px;
}
#sec5 li{
	width: 23.6%;
	float: left;
	margin-right:1.86%;
}
#sec5 li:last-child{
	margin-right: 0px;
}

#sec6{
	margin-bottom: 30px;
}
#sec6 li{
	width: 49.1%;
	float: left;
	margin-right: 1.8%;
}
#sec6 li:last-child{
	margin-right: 0px;
}

#sec6 li.s-block{
	width: 21.1%;
	float: left;
	margin-right: 1.8%;
}


p.img{
	margin-bottom: 15px;
	line-height: 0px;
}
p.titleStxt{
	color: #212121;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 13px;
}
p.spec{
	margin-bottom: 5px;
	line-height: 150%;
	letter-spacing: -0.7px;
}
p.cap{
	font-size: 10px;
	letter-spacing: -0.5px;
}
span.cap{
	font-size: 10px;
	letter-spacing: -0.5px;
}
.nextpage{
	text-align: center;
	padding: 30px 20px 50px;
}


/* pc
------------------------------------*/
@media all and (max-width: 1100px) {

}

/* tb
------------------------------------*/
@media all and (max-width: 780px) {
	
.v_pc { display:none !important; }
	.v_pt { display:block; }
	.v_sp { display:none; }
	.v_ts { display:none; }
	.v_ts_under { display:block; }
	.v_ts_photo { display:block; }
	
	#sec3 li.box-left{
		margin-right: 4%;
	}


#sec1 .leftCont {
    width: auto;
    float: none;
}
#sec1 .leftCont .spec1{
	padding-left: 31px;
	padding-right: 31px;
}
#sec1 .rightCont {
	display: none;
    width: auto;
    float: none;
	text-align: center;
}


#sec2 li.s1{
	width: auto;
	margin-right: 1.4%;
	margin-bottom: 20px;
}
#sec2 li.s1 .spleft{
	width: 48%;
	float: left;
}
#sec2 li.s1 .spright{
	width: 48%;
	float: right;
}

#sec2 li.s2{
	width: 48%;
	margin-right: 4%;
}
#sec2 li.s2 div{
	margin-bottom: 20px;
}
#sec2 li.s3{
	width: 48%;
}




#sec3 li{
	width: 48%;
	margin-right: 4%;
	margin-bottom: 20px;
}
#sec3 li:nth-child(even){
	margin-right: 0px;
}

#sec4 li{
	width: 48%;
	margin-right: 4%;
}
.sec4__capImg{
	width: 100%;
	margin-bottom: min(9vw, 50px);
}
#sec5 li{
	width: 48%;
	margin-right: 4%;
	margin-bottom: 20px;
}
#sec5 li .img{
	text-align: center;
}
#sec5 li:nth-child(even){
	margin-right: 0px;
}
#equipment{
	padding: 20px 0;
}
	

p.img{
	margin-bottom: 10px;
}
p.titleStxt{
	width: 96%;
	padding: 0px 2%;
	margin-bottom: 10px;
}
p.spec,
p.cap{
	width: 96%;
	padding: 0px 2%;
}

.nextpage{
	max-width: 50%;
	margin: 0 auto;
}
	
}

/* sp
------------------------------------*/
@media all and (max-width: 500px) {

.v_pc { display:none; }
	.v_pt { display:none; }
	.v_sp { display:block; }
	.v_ts { display:none; }
	.v_ts_under { display:block; }
	.v_ts_photo { display:block; }

}
