@charset "utf-8";
/* Plan */
.home-section > figure {position: relative;}
.home-section > figure figcaption {position: absolute; bottom: 5px; right: 5px; color: #fff; font-size: 10px;}

.plan-box:not(:last-of-type){padding: 0 0 50px;}
.plan-tit{font-size: 36px; line-height: 1; border-bottom: 1px solid #999; padding: 0 0 20px; margin: 0 0 70px; text-align: center; position: relative; font-family: "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;}
.plan-tit:after{content: ''; width: 220px; height: 6px; background: #999; position: absolute; bottom: -6px; left: 0; right: 0; margin: 0 auto;}
.plan-list{display: flex; flex-wrap: wrap;}
.plan-list li{text-align: center; width: 47%; margin: 0 6% 8% 0;}
.plan-list li:nth-of-type(2n){margin-right: 0;}

.plan-list figure:nth-of-type(1){box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.22); margin: 0 0 6%; transition: .3s;}
.plan-list a:hover figure:nth-of-type(1){box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.22);}

@media only screen and (max-width: 767px) {
    .plan-box{padding: 0 0 30px !important;}   
    .plan-tit{font-size: 30px; margin: 0 0 50px;}
    .plan-tit:after{width: 180px; height: 4px; bottom: -4px;}
    .plan-list li{width: 100%; margin: 0 0 50px 0;}
}

/* Type */
@media only screen and (min-width: 768px) {
    .type-wrap{display: flex; justify-content: center; padding: 50px 0 150px;}
    .type-info{margin-right: 15%;}
    .type-info.is-narrow{margin-right: 5%;}    
    .type-info .img-info{width: 220px;}
}

@media only screen and (max-width: 767px) {
    .type-wrap{display: flex; justify-content: space-between; padding: 0 0 80px;}
    .type-info{width: 30%;}
    .type-map{width: 60%;}
}


/* type nav*/
.type-nav{display: flex; flex-wrap: wrap;}
.type-nav figure:nth-of-type(1){box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.22); margin: 0 0 6%; transition: .3s;}
.type-nav a:hover figure:nth-of-type(1){box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.22);}

@media only screen and (min-width: 768px) {
    .type-nav li{width: 22%; margin: 0 4% 4% 0;}
    .type-nav li:nth-of-type(4n){margin-right: 0;}
}

@media only screen and (max-width: 767px) {
    .type-nav li{width: 48%; margin: 0 4% 7% 0;}
    .type-nav li:nth-of-type(2n){margin-right: 0;}
}